
<header class="px-3 headerPadding mb-4">
    <div class="container">
        <div class="row rowHeight ">
        <div class="col-md-5 rowHeight align-items-center">
           <img name="logo" src="images/logo01.png" class="logo img-fluid">
        </div> 
        <div class="col-md-7 rowHeight bg-light">            
            <h1 class="display-7 text-white mt-2 mb-1 px-4 py-3">Digital Health Passport</h1>
           <p class="lead mb-5 text-white-50 header-color py-3 px-4">Are the digital credentials that, combined with identity verification, allow individuals to prove their health status(such as the results of <b>COVID-19 tests</b>, and eventually, <b>digital vaccination</b> records)</p>
         </div>            
      </div>
    </div>
  </header>