<nav class="navbar navbar-expand-lg navbar-dark bg-darkbgrd fixed-top">
    <div class="container bgDarkBlue">
      <a class="navbar-brand" href="#">Digital Health Passport</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="nav-link active  btn-outline-primary" id="basicDetails" onclick="navigationMenu(this.id)">Basic Details</button>
              </li>              
              <li class="nav-item">
                <button class="nav-link active btn-outline-primary" id="passport" onclick="navigationMenu(this.id)">Passport</button>
              </li>
              <li class="nav-item">
                <button class="nav-link active btn-outline-primary" id="history" onclick="navigationMenu(this.id)">Travel History</button>
              </li>   
        </ul>
        
      </div> -->
    </div>
  </nav>
  <script src="/javascripts/travellerCS.js"></script>