<html>
    <head>
        <title>Traveller</title>
        <!-- Bootstrap core CSS -->        
        <%- include('./partials/headscripts.ejs')%>  
      
    </head>
  <body>
    <%- include('./partials/navTraveller.ejs')%>
    <div class="container py-4">
        <br><br>

        <div id="trvlrBasic" class="tabcontent py-3" style="display: block;">
            <div class="col-md-10 mb-10 border rounded">
                       <h2 class="py-3 mb-3">Healthcare Covid & Vaccination</h2>
                       <br>
                       <form method="POST" action="requestHealthcareAuthority"> 
                              <div class="row py-1">
                                <div class="form-check col-md-10 mb-10">                                    
                                    <div class="my-4">  
                                        <label class="form-check-label">What information you want to save?</label>
                                   </div>

                                   <select required class="form-select form-control" name="rdbtnSelectInfo">
                                            <option value="-1" selected>Please Select</option>
                                            <option value="1">Covid Details</option>
                                            <option value="2">Vaccination Details</option>
                                </select>
                               </div> 
                            </div>

                           <div class="row py-3">
                            <div class="col-md-5 mb-10 text-left">
                                <a href="/" class="btn btn-primary"  title="Please click on back button">Back</a>
                            </div>
                           <div class="col-md-5 mb-5 text-right">
                               <button type="submit" class="btn btn-primary" id="btnSubmitBasic">Submit</button> 
                           </div>                               
                       </div>         
                       </form>            
            </div> 
       </div>
    </div>
    <%- include('./partials/footer.ejs')%>
           </body>
  </html>   